<?xml version='1.0' encoding='utf-8'?>
<widget
      id="com.vincent.pictureQuest"
      version="1.0.0"
      xmlns="http://www.w3.org/ns/widgets"
      xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Picture Quest</name>
    <description>
        A game to get outside and explore.
    </description>
    <author email="support@vincentc.com" href="#">
        Vincent Cote
    </author>
    <plugin name="cordova-plugin-camera" />
    <icon src="./www/res/icon/icon.png"/>
    <content src="index.html" />
    <access origin="*" />
    <edit-config target="NSCameraUsageDescription" file="*-Info.plist" mode="merge">
    <string>need camera access to take pictures</string>
    </edit-config>
    <edit-config target="NSPhotoLibraryUsageDescription" file="*-Info.plist" mode="merge">
      <string>need photo library access to get pictures from there</string>
    </edit-config>
    <edit-config target="NSLocationWhenInUseUsageDescription" file="*-Info.plist" mode="merge">
      <string>need location access to find things nearby</string>
    </edit-config>
    <edit-config target="NSPhotoLibraryAddUsageDescription" file="*-Info.plist" mode="merge">
      <string>need photo library access to save pictures there</string>
    </edit-config>
</widget>
